
#controls-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

#controls{
    --button-size: 30px;
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#back-button{
    padding: 0;
    margin: 0;
    margin-left: 5vw;
    background-color: white;
    width: var(--button-size);
    height: var(--button-size);
    position: relative;
    left: 0;
    /* border: 1px solid black; */
}

#back-button svg{
    position: relative;
    width: 50%;
    height: 50%;
    top: 1px;
    right: 1px;
}


#settings-button{
    padding: 0;
    margin: 0;
    margin-right: 5vw;
    background-color: white;
    width: var(--button-size);
    height: var(--button-size);
    position: relative;
    right: 0;
}

#settings-button svg{
    position: relative;
    width: 50%;
    height: 50%;
    top: 2px;
    right: 1px;
}






#difficulty-controls {
    margin-bottom: 30px;
    display: flex;
}

#difficulty-controls span{
    font-family: "Inter", sans-serif;
    color: rgb(255, 255, 255);
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.5em;
}

#range-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 20px;
    width: 60vw;
}


input[type=range] {
    appearance: none;
    width: 100%;
    height: .25em;
    border-radius: 1em;
    background: rgb(255, 255, 255);
}

input[type=range]::-webkit-slider-thumb {
    appearance: none;
    width: 1em; /* Thumb width */
    height: 1em; /* Thumb height */
    border-radius: 50%; /* Make it circular */
    background: rgb(255, 255, 255); /* Custom property for background color */
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 1em; /* Thumb width */
    height: 1em; /* Thumb height */
    border-radius: 50%; /* Make it circular */
    background: rgb(255, 255, 255); /* Custom property for background color */
    cursor: pointer;
}


button {
    background-color: #ffffff;
    color: rgb(54, 54, 54);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 30px;
}
