#jigsaw-puzzle {
    width: 100vw;
    height: 100vh;
    /* margin: 0 10vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#grid-container {
    display: grid;
    overflow: hidden;
    border-radius: 16px;
    /* background-color: aqua; */
    /* gap: 1px;  */
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Adjust the width of the cells */
    height: 50px; /* Adjust the height of the cells */
    border-radius: 1px;
}

.selected {
    outline: white 1px solid;
    z-index: 10;
}
